* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    background: hsl(255, 83%, 5%);
    background: #000000;
    background: rgb(9, 21, 42);
    min-width: 300px;
}

body {
    background: grey;
    overflow: hidden;
}